<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DarkCoreEntities" connectionString="metadata=res://*/ModelDarkCore.csdl|res://*/ModelDarkCore.ssdl|res://*/ModelDarkCore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NONAMEPC;initial catalog=DarkCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PrimeraBaseDeDadesEntities" connectionString="metadata=res://*/ModelDrakCoreCarles.csdl|res://*/ModelDrakCoreCarles.ssdl|res://*/ModelDrakCoreCarles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K19N91Q;initial catalog=PrimeraBaseDeDades;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>